@import 'https://bootswatch.com/4/lux/bootstrap.min.css';

.movies-area {
  justify-content: space-around;
  align-items: flex-start;
}
  
#movies img, #movie img{
  width:100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}